extends base
block content    
    .container-fluid.pt-4.px-4
        .row.g-4.create.d-none.addTeacherForm
            .col-12
                .h-100.bg-light.rounded.p-4
                    form.row.addForm(action='')
                        h3.text-secondary Kitobni qo&apos;shish
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            label.form-label(for='' ) Fileni tanlang
                            input#photo.form-control(type='file',accept='Application/*' ,required)
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            label.form-label(for='') Kitob nomini kiriting
                            input#name.form-control(type='text',required)
                        //- .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                        //-     select.form-select.mb-3(aria-label='Default select example')
                        //-         each teacher in teacherDatas    
                        //-             option(value=`${teacher._id}`)=teacher.username
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            select#subject.form-select.mb-3(aria-label='Default select example')
                                each subject in subjects
                                    option(value=`${subject._id}`)=subject.name
                                          
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3.d-flex.justify-content-end(style='height: 40px')
                            button#btn-add.btn.btn-primary(type="submit") Kitob Qo`shish
        .row.g-4.edit.d-none.editTeacherForm
            .col-12
                .h-100.bg-light.rounded.p-4
                    form.row.editForm(action='')
                        h3.text-secondary Kitob Tahrirlash
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            label.form-label(for='') Kitob nomi
                            input.form-control#name_edit(type='text' value='Okay')
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            label.form-label(for='') Kitob Yuklash
                            input#formFile_edit.form-control(type='file' accept='Application/*')
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            select#subject-edit.form-select.mb-3(aria-label='Default select example')
                                each subject in subjects
                                    option(value=`${subject._id}`)=subject.name
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3.d-flex.justify-content-end(style='height: 40px')
                            button.btn.btn-warning.text-white
                                | O`qituvchini Tahrirlash
        .row.g-4
            .col-12
                .h-100.bg-white.rounded.p-4
                    .table-responsive.table-responsive-xs.table-responsive-sm
                        table.table.table-sm.align-middle.mb-0.bg-white
                            thead.bg-light
                                tr
                                    th Kitob nomi
                                    th Kitob hajmi 
                                    th O&apos;qituvchi nomi 
                                    th Tahrirlash
                                    th O`chirish
                                    th
                                        button.btn.btn-primary.addTeacher +Qo`shish
                            tbody.table-column
                                each book,index in books
                                    tr
                                        td=book.name
                                        td=`${si[index]} MB`
                                        td
                                            .d-flex.align-items-center
                                                img.rounded-circle(src=`/img/users/${teachers[index].photo}` alt='' style='width: 45px; height: 45px')
                                                .ms-3
                                                    p.fw-bold.mb-1=teachers[index].name
                                                    p.text-muted.mb-0=teachers[index].email
                                        td
                                            button.btn.btn-link.btn-sm.btn-rounded.text-warning.editTeacher(type='button' , value=`${book._id}`)
                                                | Tahrirlash
                                        td
                                            button.btn.btn-link.btn-sm.btn-rounded.text-danger.deleteTeacher(type='button', value=`${book._id}`)
                                                | O`chirish
    script(src='/adminasset/js/kitob.js')

