extends base
block content 
  main#main(data-aos='fade-in')
    // ======= Breadcrumbs =======
    .breadcrumbs
      .container.flex-row.align-items-center.justify-content-center
        h2 Bizning O`qituvchilar
        form.d-flex.justify-content-center#searchForm(action="", value=`${url}`)
          input#urlPath.d-none(type="text", value=`${url}`)
          input.w-25.form-control#searchInput(type="text", placeholder="Izlash...")
          button.btn.btn-primary.btn-sm(type="submit") Izlang  
    // End Breadcrumbs
    // ======= Trainers Section =======
    section#trainers.trainers
      .container(data-aos='fade-up')
        .row(data-aos='zoom-in' data-aos-delay='100')
          each teacher,index in teachers.slice(0,10)
            .col-lg-4.col-md-6.d-flex.align-items-stretch
              .member
                img.img-fluid(src=`img/users/${teacher.photo}` alt='')
                .member-content
                  h4=teacher.name 
                  span=newArr[index]
                  p=`${teacher.summary}`||"Men bu o'quv yurtida bir necha yillardan buyon ishlayman . Menga o'quvchi yoshlarning ilmga bo'lgan qiziqishlari juda yoqadi!"
                  .social
                    a(href='')
                      i.bi.bi-twitter
                    a(href='')
                      i.bi.bi-facebook
                    a(href='')
                      i.bi.bi-instagram
                    a(href='')
                      i.bi.bi-linkedin
        .container.d-flex.justify-content-center.align-items-center
          ul.list-unstyled.d-flex.gap-2
            each page in paginationArr
              li 
                a.text-white.bg-success.rounded-pill.px-3.py-2(href=`${url}?page=${page}&&limit=10`, style="font-size:20px")= page 


  script(src="assets/js/search.js") 
    // End Trainers Section
  // End #main
    