extends base
block content
  main#main(data-aos='fade-in')
    .breadcrumbs
      .container
        h2 Fanlar
        form.d-flex.justify-content-center#searchForm(action="", value=`${url}`)
          input#urlPath.d-none(type="text", value=`${url}`)
          input.w-25.form-control#searchInput(type="text", placeholder="Izlash...")
          button.btn.btn-primary.btn-sm(type="submit") Izlang 
    section#courses.courses
      .container(data-aos='fade-up')  
          .table-responsive-xs.table-responsive-sm
            table.table.table-light
              thead
                tr
                  th(scope='col') #
                  th(scope='col') Fan nomi
                  th(scope='col') O`qituvchilar soni
                  th(scope='col') Kitoblar soni
                  
              tbody
              each dat,index in  kalla
                tr
                  th(scope='row')=index+1
                  td=dat.name
                  td=arra[index].num
                  td=files[index].num       
  script(src="assets/js/getTopiks.js")
  script(src="assets/js/search.js") 